In [ ]:
import pandas as pd

In [ ]:
!pip install pyspark
from pyspark.sql.functions import *
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import  StringIndexer

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
# Read data from the vehicle_stolen_dataset.csv
vehicle_data = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/dataset/CKD_final.csv", header=None)
vehicle_data.head()

<ipython-input-50-041caaab449d>:2: DtypeWarning: Columns (0,1,2,3,4,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicle_data = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/dataset/CKD_final.csv", header=None)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
1,50,150,1.02,1,0,abnormal,normal,notpresent,notpresent,181,...,44,7800,5.2,no,no,no,good,no,no,ckd
2,69,140,1.02,4,0,abnormal,normal,notpresent,notpresent,121,...,38,6000,3.9,no,no,no,good,no,yes,ckd
3,69,160,1.02,2,3,abnormal,normal,notpresent,notpresent,423,...,31,7500,4.6,no,yes,no,poor,no,no,ckd
4,71,140,1.005,4,0,abnormal,abnomal,present,notpresent,106,...,32,6700,4.4,no,no,no,poor,yes,yes,ckd

In [ ]:
spark = SparkSession.builder.master("local[*]").getOrCreate() #Sets the Spark master URL to run locally.

In [ ]:
vehicle_df = spark.createDataFrame(vehicle_data)  #Create DataFrame
vehicle_df.show(5)

+---+---+-----+---+---+--------+-------+----------+----------+---+---+----+---+---+----+---+----+---+---+---+---+-----+---+---+-----+
|  0|  1|    2|  3|  4|       5|      6|         7|         8|  9| 10|  11| 12| 13|  14| 15|  16| 17| 18| 19| 20|   21| 22| 23|   24|
+---+---+-----+---+---+--------+-------+----------+----------+---+---+----+---+---+----+---+----+---+---+---+---+-----+---+---+-----+
|age| bp|   sg| al| su|     rbc|     pc|       pcc|        ba|bgr| bu|  sc|sod|pot|hemo|pcv|  wc| rc|htn| dm|cad|appet| pe|ane|class|
| 50|150| 1.02|  1|  0|abnormal| normal|notpresent|notpresent|181|204| 8.4|135|  4|10.3| 44|7800|5.2| no| no| no| good| no| no|  ckd|
| 69|140| 1.02|  4|  0|abnormal| normal|notpresent|notpresent|121| 64| 7.3|130|5.4| 9.4| 38|6000|3.9| no| no| no| good| no|yes|  ckd|
| 69|160| 1.02|  2|  3|abnormal| normal|notpresent|notpresent|423| 34|   7|129|4.9|10.6| 31|7500|4.6| no|yes| no| poor| no| no|  ckd|
| 71|140|1.005|  4|  0|abnormal|abnomal|   present|notpresent|106| 67|11.6|131|5.5| 7.2| 32|6700|4.4| no| no| no| poor|yes|yes|  ckd|
+---+---+-----+---+---+--------+-------+----------+----------+---+---+----+---+---+----+---+----+---+---+---+---+-----+---+---+-----+
only showing top 5 rows

In [ ]:
vehicle_df = vehicle_df.select(col("0").alias("age"),
                         col("1").alias("bp"),
                         col("2").alias("sg"),
                         col("3").alias("al"),
                         col("4").alias("su"),
                         col("5").alias("rbc"),
                         col("6").alias("pc"),
                         col("7").alias("pcc"),
                         col("8").alias("ba"),
                         col("9").alias("bgr"),
                         col("10").alias("bu"),
                         col("11").alias("sc"),
                         col("12").alias("sod"),
                         col("13").alias("pot"),
                         col("14").alias("hemo"),
                         col("15").alias("pcv"),
                         col("16").alias("wc"),
                         col("17").alias("rc"),
                         col("18").alias("htn"),
                         col("19").alias("dm"),
                         col("20").alias("cad"),
                         col("21").alias("appet"),
                         col("22").alias("pe"),
                         col("23").alias("ane"),
                         col("24").alias("class"))

In [ ]:
# #How to handle Categorical features
# from pyspark.ml.feature import StringIndexer

In [ ]:
# indexer = StringIndexer(inputCol="rbc", outputCol="rbc_indexed")
# df_r = indexer.fit(vehicle_df).transform(vehicle_df)
# df_r.show()

In [ ]:
# indexer = StringIndexer(inputCols=["pc", "pcc", "ba", "htn", "dm", "cad", "appet", "pe", "ane", "class"],
#                         outputCols=["pc_indexed", "pcc_indexed","ba_indexed", "htn_indexed", "dm_indexed","cad_indexed","appet_indexed", "pe_indexed","ane_indexed", "class_indexed" ])
# df_r = indexer.fit(df_r).transform(df_r)
# df_r.show()

In [ ]:
vehicle_df.dtypes

[('age', 'string'),
 ('bp', 'string'),
 ('sg', 'string'),
 ('al', 'string'),
 ('su', 'string'),
 ('rbc', 'string'),
 ('pc', 'string'),
 ('pcc', 'string'),
 ('ba', 'string'),
 ('bgr', 'string'),
 ('bu', 'string'),
 ('sc', 'string'),
 ('sod', 'string'),
 ('pot', 'string'),
 ('hemo', 'string'),
 ('pcv', 'string'),
 ('wc', 'string'),
 ('rc', 'string'),
 ('htn', 'string'),
 ('dm', 'string'),
 ('cad', 'string'),
 ('appet', 'string'),
 ('pe', 'string'),
 ('ane', 'string'),
 ('class', 'string')]

In [ ]:
indexers = [StringIndexer(inputCol="age", outputCol = "age_index"),
           StringIndexer(inputCol="bp", outputCol = "bp_index"),
           StringIndexer(inputCol="sg", outputCol = "sg_index"),
           StringIndexer(inputCol="al", outputCol = "al_index"),
           StringIndexer(inputCol="su", outputCol = "su_index"),
           StringIndexer(inputCol="rbc", outputCol = "rbc_index"),
           StringIndexer(inputCol="pc", outputCol = "pc_index"),
           StringIndexer(inputCol="pcc", outputCol = "pcc_index"),
           StringIndexer(inputCol="ba", outputCol = "ba_index"),
           StringIndexer(inputCol="bgr", outputCol = "bgr_index"),
           StringIndexer(inputCol="bu", outputCol = "bu_index"),
           StringIndexer(inputCol="sc", outputCol = "sc_index"),
           StringIndexer(inputCol="sod", outputCol = "sod_index"),
           StringIndexer(inputCol="pot", outputCol = "pot_index"),
           StringIndexer(inputCol="hemo", outputCol = "hemo_index"),
           StringIndexer(inputCol="pcv", outputCol = "pcv_index"),
           StringIndexer(inputCol="wc", outputCol = "wc_index"),
           StringIndexer(inputCol="rc", outputCol = "rc_index"),
           StringIndexer(inputCol="htn", outputCol = "htn_index"),
           StringIndexer(inputCol="dm", outputCol = "dm_index"),
           StringIndexer(inputCol="cad", outputCol = "cad_index"),
           StringIndexer(inputCol="appet", outputCol = "appet_index"),
           StringIndexer(inputCol="pe", outputCol = "pe_index"),
           StringIndexer(inputCol="ane", outputCol = "ane_index"),
           StringIndexer(inputCol="class", outputCol = "label")]

In [ ]:
pipeline = Pipeline(stages=indexers)
indexed_vehicle_df = pipeline.fit(vehicle_df).transform(vehicle_df)

In [ ]:
indexed_vehicle_df.show(5,False)

+---+---+-----+---+---+--------+-------+----------+----------+---+---+----+---+---+----+---+----+---+---+---+---+-----+---+---+-----+---------+--------+--------+--------+--------+---------+--------+---------+--------+---------+--------+--------+---------+---------+----------+---------+--------+--------+---------+--------+---------+-----------+--------+---------+-----+
|age|bp |sg   |al |su |rbc     |pc     |pcc       |ba        |bgr|bu |sc  |sod|pot|hemo|pcv|wc  |rc |htn|dm |cad|appet|pe |ane|class|age_index|bp_index|sg_index|al_index|su_index|rbc_index|pc_index|pcc_index|ba_index|bgr_index|bu_index|sc_index|sod_index|pot_index|hemo_index|pcv_index|wc_index|rc_index|htn_index|dm_index|cad_index|appet_index|pe_index|ane_index|label|
+---+---+-----+---+---+--------+-------+----------+----------+---+---+----+---+---+----+---+----+---+---+---+---+-----+---+---+-----+---------+--------+--------+--------+--------+---------+--------+---------+--------+---------+--------+--------+---------+---------+----------+---------+--------+--------+---------+--------+---------+-----------+--------+---------+-----+
|age|bp |sg   |al |su |rbc     |pc     |pcc       |ba        |bgr|bu |sc  |sod|pot|hemo|pcv|wc  |rc |htn|dm |cad|appet|pe |ane|class|77.0     |16.0    |20.0    |7.0     |7.0     |3.0      |4.0     |2.0      |3.0     |338.0    |393.0   |152.0   |57.0     |64.0     |170.0     |46.0     |953.0   |625.0   |3.0      |3.0     |2.0      |4.0        |3.0     |2.0      |2.0  |
|50 |150|1.02 |1  |0  |abnormal|normal |notpresent|notpresent|181|204|8.4 |135|4  |10.3|44 |7800|5.2|no |no |no |good |no |no |ckd  |5.0      |0.0     |1.0     |4.0     |0.0     |0.0      |0.0     |0.0      |0.0     |103.0    |7.0     |36.0    |1.0      |7.0      |0.0       |3.0      |1.0     |0.0     |0.0      |0.0     |0.0      |0.0        |0.0     |0.0      |0.0  |
|69 |140|1.02 |4  |0  |abnormal|normal |notpresent|notpresent|121|64 |7.3 |130|5.4|9.4 |38 |6000|3.9|no |no |no |good |no |yes|ckd  |2.0      |1.0     |1.0     |3.0     |0.0     |0.0      |0.0     |0.0      |0.0     |16.0     |64.0    |13.0    |0.0      |5.0      |55.0      |19.0     |14.0    |5.0     |0.0      |0.0     |0.0      |0.0        |0.0     |1.0      |0.0  |
|69 |160|1.02 |2  |3  |abnormal|normal |notpresent|notpresent|423|34 |7   |129|4.9|10.6|31 |7500|4.6|no |yes|no |poor |no |no |ckd  |2.0      |2.0     |1.0     |1.0     |2.0     |0.0      |0.0     |0.0      |0.0     |92.0     |49.0    |34.0    |2.0      |0.0      |38.0      |17.0     |11.0    |2.0     |0.0      |1.0     |0.0      |1.0        |0.0     |0.0      |0.0  |
|71 |140|1.005|4  |0  |abnormal|abnomal|present   |notpresent|106|67 |11.6|131|5.5|7.2 |32 |6700|4.4|no |no |no |poor |yes|yes|ckd  |9.0      |1.0     |3.0     |3.0     |0.0     |0.0      |3.0     |1.0      |0.0     |22.0     |53.0    |10.0    |8.0      |13.0     |101.0     |0.0      |6.0     |8.0     |0.0      |0.0     |0.0      |1.0        |1.0     |1.0      |0.0  |
+---+---+-----+---+---+--------+-------+----------+----------+---+---+----+---+---+----+---+----+---+---+---+---+-----+---+---+-----+---------+--------+--------+--------+--------+---------+--------+---------+--------+---------+--------+--------+---------+---------+----------+---------+--------+--------+---------+--------+---------+-----------+--------+---------+-----+
only showing top 5 rows

In [ ]:
indexed_vehicle_df.columns

['age',
 'bp',
 'sg',
 'al',
 'su',
 'rbc',
 'pc',
 'pcc',
 'ba',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'class',
 'age_index',
 'bp_index',
 'sg_index',
 'al_index',
 'su_index',
 'rbc_index',
 'pc_index',
 'pcc_index',
 'ba_index',
 'bgr_index',
 'bu_index',
 'sc_index',
 'sod_index',
 'pot_index',
 'hemo_index',
 'pcv_index',
 'wc_index',
 'rc_index',
 'htn_index',
 'dm_index',
 'cad_index',
 'appet_index',
 'pe_index',
 'ane_index',
 'label']

In [ ]:
vectorAssembler = VectorAssembler(inputCols = ['age_index',
 'bp_index',
 'sg_index',
 'al_index',
 'su_index',
 'rbc_index',
 'pc_index',
 'pcc_index',
 'ba_index',
 'bgr_index',
 'bu_index',
 'sc_index',
 'sod_index',
 'pot_index',
 'hemo_index',
 'pcv_index',
 'wc_index',
 'rc_index',
 'htn_index',
 'dm_index',
 'cad_index',
 'appet_index',
 'pe_index',
 'ane_index'],outputCol = "features")
vindexed_vehicle_df = vectorAssembler.transform(indexed_vehicle_df)

In [ ]:
vindexed_vehicle_df.show(5, False)

+---+---+-----+---+---+--------+-------+----------+----------+---+---+----+---+---+----+---+----+---+---+---+---+-----+---+---+-----+---------+--------+--------+--------+--------+---------+--------+---------+--------+---------+--------+--------+---------+---------+----------+---------+--------+--------+---------+--------+---------+-----------+--------+---------+-----+-------------------------------------------------------------------------------------------------------------------+
|age|bp |sg   |al |su |rbc     |pc     |pcc       |ba        |bgr|bu |sc  |sod|pot|hemo|pcv|wc  |rc |htn|dm |cad|appet|pe |ane|class|age_index|bp_index|sg_index|al_index|su_index|rbc_index|pc_index|pcc_index|ba_index|bgr_index|bu_index|sc_index|sod_index|pot_index|hemo_index|pcv_index|wc_index|rc_index|htn_index|dm_index|cad_index|appet_index|pe_index|ane_index|label|features                                                                                                           |
+---+---+-----+---+---+--------+-------+----------+----------+---+---+----+---+---+----+---+----+---+---+---+---+-----+---+---+-----+---------+--------+--------+--------+--------+---------+--------+---------+--------+---------+--------+--------+---------+---------+----------+---------+--------+--------+---------+--------+---------+-----------+--------+---------+-----+-------------------------------------------------------------------------------------------------------------------+
|age|bp |sg   |al |su |rbc     |pc     |pcc       |ba        |bgr|bu |sc  |sod|pot|hemo|pcv|wc  |rc |htn|dm |cad|appet|pe |ane|class|77.0     |16.0    |20.0    |7.0     |7.0     |3.0      |4.0     |2.0      |3.0     |338.0    |393.0   |152.0   |57.0     |64.0     |170.0     |46.0     |953.0   |625.0   |3.0      |3.0     |2.0      |4.0        |3.0     |2.0      |2.0  |[77.0,16.0,20.0,7.0,7.0,3.0,4.0,2.0,3.0,338.0,393.0,152.0,57.0,64.0,170.0,46.0,953.0,625.0,3.0,3.0,2.0,4.0,3.0,2.0]|
|50 |150|1.02 |1  |0  |abnormal|normal |notpresent|notpresent|181|204|8.4 |135|4  |10.3|44 |7800|5.2|no |no |no |good |no |no |ckd  |5.0      |0.0     |1.0     |4.0     |0.0     |0.0      |0.0     |0.0      |0.0     |103.0    |7.0     |36.0    |1.0      |7.0      |0.0       |3.0      |1.0     |0.0     |0.0      |0.0     |0.0      |0.0        |0.0     |0.0      |0.0  |(24,[0,2,3,9,10,11,12,13,15,16],[5.0,1.0,4.0,103.0,7.0,36.0,1.0,7.0,3.0,1.0])                                      |
|69 |140|1.02 |4  |0  |abnormal|normal |notpresent|notpresent|121|64 |7.3 |130|5.4|9.4 |38 |6000|3.9|no |no |no |good |no |yes|ckd  |2.0      |1.0     |1.0     |3.0     |0.0     |0.0      |0.0     |0.0      |0.0     |16.0     |64.0    |13.0    |0.0      |5.0      |55.0      |19.0     |14.0    |5.0     |0.0      |0.0     |0.0      |0.0        |0.0     |1.0      |0.0  |(24,[0,1,2,3,9,10,11,13,14,15,16,17,23],[2.0,1.0,1.0,3.0,16.0,64.0,13.0,5.0,55.0,19.0,14.0,5.0,1.0])               |
|69 |160|1.02 |2  |3  |abnormal|normal |notpresent|notpresent|423|34 |7   |129|4.9|10.6|31 |7500|4.6|no |yes|no |poor |no |no |ckd  |2.0      |2.0     |1.0     |1.0     |2.0     |0.0      |0.0     |0.0      |0.0     |92.0     |49.0    |34.0    |2.0      |0.0      |38.0      |17.0     |11.0    |2.0     |0.0      |1.0     |0.0      |1.0        |0.0     |0.0      |0.0  |[2.0,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,92.0,49.0,34.0,2.0,0.0,38.0,17.0,11.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0]            |
|71 |140|1.005|4  |0  |abnormal|abnomal|present   |notpresent|106|67 |11.6|131|5.5|7.2 |32 |6700|4.4|no |no |no |poor |yes|yes|ckd  |9.0      |1.0     |3.0     |3.0     |0.0     |0.0      |3.0     |1.0      |0.0     |22.0     |53.0    |10.0    |8.0      |13.0     |101.0     |0.0      |6.0     |8.0     |0.0      |0.0     |0.0      |1.0        |1.0     |1.0      |0.0  |[9.0,1.0,3.0,3.0,0.0,0.0,3.0,1.0,0.0,22.0,53.0,10.0,8.0,13.0,101.0,0.0,6.0,8.0,0.0,0.0,0.0,1.0,1.0,1.0]            |
+---+---+-----+---+---+--------+-------+----------+----------+---+---+----+---+---+----+---+----+---+---+---+---+-----+---+---+-----+---------+--------+--------+--------+--------+---------+--------+---------+--------+---------+--------+--------+---------+---------+----------+---------+--------+--------+---------+--------+---------+-----------+--------+---------+-----+-------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

# Naive Bayes Calssification

In [ ]:
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [ ]:
splits = vindexed_vehicle_df.randomSplit([0.75,0.25], 42)    # optional value 42 is seed for sampling
train_df = splits[0]
test_df = splits[1]

In [ ]:
# Apply the Naive bayes classifier
nb = NaiveBayes(modelType="multinomial")

In [ ]:
nbmodel = nb.fit(train_df)

In [ ]:
# select example rows to display.
predictions_df = nbmodel.transform(test_df)
predictions_df.show(5)

+---+---+-----+---+---+--------+--------+----------+----------+---+---+---+---+---+----+---+-----+---+---+---+---+-----+---+---+-----+---------+--------+--------+--------+--------+---------+--------+---------+--------+---------+--------+--------+---------+---------+----------+---------+--------+--------+---------+--------+---------+-----------+--------+---------+-----+--------------------+--------------------+--------------------+----------+
|age| bp|   sg| al| su|     rbc|      pc|       pcc|        ba|bgr| bu| sc|sod|pot|hemo|pcv|   wc| rc|htn| dm|cad|appet| pe|ane|class|age_index|bp_index|sg_index|al_index|su_index|rbc_index|pc_index|pcc_index|ba_index|bgr_index|bu_index|sc_index|sod_index|pot_index|hemo_index|pcv_index|wc_index|rc_index|htn_index|dm_index|cad_index|appet_index|pe_index|ane_index|label|            features|       rawPrediction|         probability|prediction|
+---+---+-----+---+---+--------+--------+----------+----------+---+---+---+---+---+----+---+-----+---+---+---+---+-----+---+---+-----+---------+--------+--------+--------+--------+---------+--------+---------+--------+---------+--------+--------+---------+---------+----------+---------+--------+--------+---------+--------+---------+-----------+--------+---------+-----+--------------------+--------------------+--------------------+----------+
| 35|100|    0|  2|  0|abnormal|  normal|   present|notpresent|188| 48|4.4|139|5.3|   7| 39| 6900|  4| no|yes| no| good| no|yes|  ckd|      3.0|     9.0|     4.0|     1.0|     0.0|      0.0|     0.0|      1.0|     0.0|    129.0|    14.0|   117.0|      7.0|     20.0|      94.0|      8.0|     0.0|     3.0|      0.0|     1.0|      0.0|        0.0|     0.0|      1.0|  0.0|[3.0,9.0,4.0,1.0,...|[-1032.1613558156...|[1.0,8.5389055869...|       0.0|
| 35|100|1.005|  2|  1|abnormal|abnormal|notpresent|notpresent|264|153|7.1|135|5.8|   9| 36|12200|2.6|yes|yes|yes| poor| no|yes|  ckd|      3.0|     9.0|     3.0|     1.0|     3.0|      0.0|     1.0|      0.0|     0.0|     73.0|    47.0|    11.0|      1.0|     22.0|      88.0|      6.0|     7.0|     7.0|      1.0|     1.0|      1.0|        1.0|     0.0|      1.0|  0.0|[3.0,9.0,3.0,1.0,...|[-727.48705988679...|[4.36780625412433...|       1.0|
| 35|100| 1.01|  0|  0|abnormal|abnormal|notpresent|notpresent|153|129|9.4|129|4.6|  10| 29|11800|4.6| no| no| no| poor|yes| no|  ckd|      3.0|     9.0|     2.0|     0.0|     0.0|      0.0|     1.0|      0.0|     0.0|     64.0|   101.0|    15.0|      2.0|      4.0|      34.0|      1.0|    44.0|     2.0|      0.0|     0.0|      0.0|        1.0|     1.0|      0.0|  0.0|[3.0,9.0,2.0,0.0,...|[-620.41490599184...|[5.71522999109269...|       1.0|
| 35|100| 1.01|  1|  0|  normal|  normal|notpresent|notpresent|163|119|3.3|125|3.9|13.3| 35|12050|5.2|yes| no| no| poor|yes| no|  ckd|      3.0|     9.0|     2.0|     4.0|     0.0|      1.0|     0.0|      0.0|     0.0|     61.0|     1.0|    47.0|     23.0|      9.0|      31.0|     13.0|   925.0|     0.0|      1.0|     0.0|      0.0|        1.0|     1.0|      0.0|  0.0|[3.0,9.0,2.0,4.0,...|[-1748.6865087128...|[3.67025474314858...|       2.0|
| 35|100|1.015|  0|  4|abnormal|  normal|notpresent|notpresent|250| 20|1.2|134|2.8|11.1| 16| 9200|3.6|yes|yes|yes| poor| no| no|  ckd|      3.0|     9.0|     7.0|     0.0|     4.0|      0.0|     0.0|      0.0|     0.0|     75.0|     8.0|     1.0|     10.0|     34.0|      39.0|     22.0|     3.0|    16.0|      1.0|     1.0|      1.0|        1.0|     0.0|      0.0|  0.0|[3.0,9.0,7.0,0.0,...|[-676.87487104623...|[2.73046794138139...|       1.0|
+---+---+-----+---+---+--------+--------+----------+----------+---+---+---+---+---+----+---+-----+---+---+---+---+-----+---+---+-----+---------+--------+--------+--------+--------+---------+--------+---------+--------+---------+--------+--------+---------+---------+----------+---------+--------+--------+---------+--------+---------+-----------+--------+---------+-----+--------------------+--------------------+--------------------+----------+
only showing top 5 rows

In [ ]:
# compute accuracy on the test set
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")
nbaccuracy = evaluator.evaluate(predictions_df)
print("Test set accuracy = " + str(nbaccuracy))

Test set accuracy = 0.6171717983760753

## # Naive Bayes Calssification Ended